
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Josefin+Sans&family=Noto+Serif&family=Poppins:wght@500&family=Prata&display=swap');


/* utility or common style */
body{
   
   padding: 0;
   margin: 0;
   font-family: 'Poppins', sans-serif;
}
h1{
   font-size: 50px;
   color: white;
}
.head-pera{
   color: white;
}
.orange{
   color: orange;
}

/* styleing the header section */

header{
   height: 646px; 
   margin: 30px 70px;
  
   
}
.container{
   display: flex;
   background-color: rgb(40,42,54);
   border-radius: 30px;
   
}
.split{
   width: 50%;
}
.content{
   margin-top: 50px;
   margin-left: 30px;
}
.banner{
   margin-top: 50px;
}
.split img{
   width: 100%;
}
.link-button{
   text-decoration: none;
   font-weight: bold;
   padding: 10px 40px;
   background-color: #DD0000;
   color: white;
}