
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Josefin+Sans&family=Noto+Serif&family=Poppins:wght@500&family=Prata&display=swap');


/* utility or common style */
body{
   
   padding: 0;
   margin: 0;
   font-family: 'Poppins', sans-serif;
}
h1{
   font-size: 50px;
   color: white;
}
.head-pera{
   color: white;
}
.orange{
   color: orange;
}

/* styleing the header section */

header{
   height: 646px; 
   margin: 30px 70px;
  
   
}
.container{
   display: flex;
   background-color: rgb(40,42,54);
   border-radius: 30px;
   
}
.split{
   width: 50%;
}
.content{
   margin-top: 50px;
   margin-left: 30px;
}
.banner{
   margin-top: 50px;
}
.split img{
   width: 100%;
}
.link-button{
   text-decoration: none;
   font-weight: bold;
   padding: 10px 40px;
   background-color: #DD0000;
   color: white;
}
/* style close the header section */


.section-container{
   display: flex;
}
.navigation{
   padding-left: 50px;
   border-radius: 10px;
}

.nav-container{
   background-color: black;
   height: 240px ;
   width:220px ;
   align-items: center;
   
}
.nav-bar{
   padding: 10px 30px;
   margin-bottom: 30px;
   border: 2px solid black;
}

.nav-bar, a{
   text-decoration: none;
   background-color: #DD0000;
   color: white;
}
.nav-bar a:hover{
   background-color: orange;
}

/* start the matchs section */
.matches{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-column-gap: 10px ;
   grid-row-gap: 20px ;
}
.match img{
   width: 80%;
}
.matches{
   padding-left: 10px;
}

/* style the footer  */
.footer-container{
   background-color: rgb(40,42,54);
   text-align: center;
   padding: 40px;
 }
 .div ul{
   list-style: none;
 }
 #big-h{
   font-size: 30px;
   color: rgb(255 255 255);
 }
 #pera{
   color: rgb(255 255 255);
 }
 .li-content{
   list-style: none;
   display: flex;
   justify-content: space-around;
   color: rgb(255 255 255);
 }
 .li-logo{
   display: flex;
   justify-content: space-evenly;
   font-size: 20px;
   list-style: none;
   
 }
 .logo{
   color: #ffffff;
   
 }
